BeautifulSoup==3.2.1
Cython==0.20.1
Django==1.11.28
Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.18
MySQL-python==1.2.3
PIL==1.1.7
PsychoPy==1.81.00rc1
PyAudio==0.2.7
PyYAML==3.10
Twisted==14.0.2
Unirest==1.1.6
Werkzeug==0.9.4
arvados-python-client==0.1.1410383177.741bf44
audiolazy==0.05
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
certifi==14.05.14
cssselect==0.9.1
dota2py==0.1.3
gmpy==1.14
google-api-python-client==1.2
httplib2==0.8
ipython==2.3.1
itsdangerous==0.23
lxml==3.2.4
matplotlib==1.1.0
mechanize==0.2.5
nltk==2.0.4
numpy==1.6.2
oauthlib==1.0.3
poster==0.8.1
py4j==0.8.2.1
pyftpdlib==1.4.0
pygame==1.9.1
pyquery==1.2.8
pyreadline==2.0
python-gflags==2.0
python-igraph==0.6
pywin32==219
pyzmq==14.4.1
requests==2.7.0
requests-oauthlib==0.5.0
scikit-learn==0.14.1
scipy==0.11.0
six==1.5.2
tornado==4.0.2
twilio==3.6.4
twython==3.3.0
unittest2==0.5.1
urllib3==1.9
virtualenv==1.11.6
wikipedia==1.4.0
wikitools==1.1.1
ws4py==0.3.4
zope.interface==4.1.1
